[2015-02-04 12:29] klokan opened #1 "Spec in GitHub Wiki"
Move all the specification to GitHub Wiki.
Create relevant tickets.

[2015-02-04 12:47] klokan opened #2 "AWS Infrastructure keys"
Kennisland team @Taskamp and @mzeinstra should supply the access and secret key which should be used for installation of the ALPHA version of the services on Amazon infrastructure.

[2015-02-04 12:54] klokan opened #3 "IIPImage IIIF JPEG2000 with Memcached [A.1]"
Create a publicly available binary container for easy installation of IIPImage with JPEG2000.

We will use docker to simplify deployment on different machines. The Dockerfile to be in a separate repository.

Basic documentation must be provided in README in the related repository.

[2015-02-04 12:55] klokan opened #4 "Amazon EC2 + S3 deploy [A.2]"
Setup of a virtual machine with Amazon S3, installation with S3FS-FUSE, testing and initial performance optimization.

[2015-02-04 12:57] klokan opened #5 "Elastic Load Balancer [A.3]"
Installation and configuration of elastic load balancer with the image service virtual machine made in #4

[2015-02-11 08:55] ghost commented on #2
Have you received the keys by now?

[2015-02-11 08:55] klokan commented on #2
Yes. Thank you. Closing.

[2015-02-11 08:55] #2 closed, assigned to nobody

[2015-02-11 08:57] klokan commented on #1
Spec is in the GitHub Wiki: https://github.com/klokantech/hawk/wiki
Initial tickets created.

[2015-02-19 15:17] #1 closed, assigned to klokan

[2015-04-07 07:06] klokan commented on #4
As the test data for ALPHA milestone we can use some (1000?) of the British Library Flickr images - stored as .jp2 already in the KlokanTech IIIF hosting.

[2015-04-09 16:22] klokan commented on #3
We have compiled and created a Debian package to simplify the installation of IIIFServer powered by IIPImage JPEG2000 - this is now being used for the ALPHA version of this project.

The build for the latest version of IIPImage is made @klokantech automatically.

Download link for the use in the ALPHA version of this project:
http://downloads.klokantech.com/iiifserver/iiifserver-1.0.0.debian-wheez

[2015-04-09 18:10] o1da commented on #4
EC2 machine is running, s3 storage is connected with s3fs and filed with testing data. Now we are running performance tests and optimising the configuration. It looks promising, s3fs has many parameters to play with.

[2015-04-09 18:14] o1da commented on #3
IIPImage and Memcached are installed on the EC2 machine and set-up to work together. We are testing it now with data on the S3 itself. So basic environment is prepared.

The Image of virtual machine is saved - the AMI identifier and the complete documentation is in the Installation protocol (with restricted access because it contains confidential information):
https://docs.google.com/a/klokantech.

[2015-04-13 07:23] klokan opened #6 "iiifhawk.klokantech.com"
The iiif virtual machine made for the ALPHA milestone should be available on the address http://iiifhawk.klokantech.com/ from Wednesday on.

It is a server permanently running on EC2 - without loadbalancer (#5) yet.

[2015-04-13 07:26] klokan commented on #5
Result of the testing and suggestion for configuration will be linked from this ticket.

[2015-04-16 07:13] klokan commented on #6
The server is online.
The gallery with some sample files is visible at: http://klokantech.github.io/hawk/.

[2015-04-16 07:13] #6 closed, assigned to o1da

[2015-04-16 08:00] klokan commented on #4
The virtual machine is deployed now (details under #6).

The sample images are stored in Amazon S3 and transferred on demand to a local disk where the image server software provides IIIF (http://iiif.io) image service to the online visitors.

The detailed S3FS performance tests and configuration is described in the document:
https://docs.google.com/document/d/18YvJ9bf7NH1SrPxARyvcutzkhNVTz42y_KlxO

[2015-04-16 08:00] #4 closed, assigned to klokan

[2015-04-16 09:36] klokan commented on #5
The Load Balancer has been successfully tested during the ALPHA milestone. Now it is turned off to save the costs. To be set after BETA milestone again, together with the auto-scaling.

The related documentation is at:
https://docs.google.com/document/d/143tGodU7KlY9AloWO-1B42IQ9oDA210H-APHL0hiHZs/edit?usp=sharing

[2015-04-16 10:05] klokan opened #7 "iFrame embed HTML/CSS template [B.2]"
Prepare and test a fullscreen IIIF viewer as a template for the Embed service.
By replacing the link to info.json or by embedding the info.json and basic metadata into the template itself (HTML title, h1, etc) we should get a perfect viewer for iframe embedding.

iframe embed code should be prepared as well.

Let's prepare two variants of the template:
- Based on OpenSeaDragon https://openseadrago

[2015-04-16 11:27] klokan opened #8 "oEmbed provider [B.3]"
Prototype correct and valid oEmbed with the help of IIIF - on the gh-pages branch.

Document snippets of the code which needs to be implemented to be eEmbed compliant.

Related documentation:
http://www.oembed.com/
http://en.wikipedia.org/wiki/OEmbed

Verify the static prototype compatibility with WordPress:
https://codex.wordpress.org/Embeds

Target is exact specification for:
- oEmbed provider (

[2015-04-16 11:28] o1da opened #9 "S3FS listing patch"
We have to make a patch for S3FS to speed up response for a file which is not on S3. Avoidance of the listing operation is crucial here. We don't need listing at all for our use case, so we can easily change behavior of the list_bucket function in https://github.com/s3fs-fuse/s3fs-fuse/blob/master/src/s3fs.cpp

It would be probably OK if this function would response with empty string without any c

[2015-04-16 11:35] klokan opened #10 "Load balancer + auto-scaling for production setup"
Configure the Elastic Load Balancing and Auto Scaling for the IIIF AMI for the use in production deployment.

Improve documentation started in ALPHA milestone - under #5 - and run additional performance tests.

[2015-04-16 11:36] #5 closed, assigned to o1da

[2015-04-16 11:41] o1da opened #11 "S3FS nofile patch"
Another patch for S3FS is needed. We have to suppress S3FS feature when if there is a request to file which is not on S3, it tries to check if the provided filename isn't name of folder or path instead, so another requests to S3 are invoked.

Look at https://github.com/s3fs-fuse/s3fs-fuse/blob/master/src/s3fs.cpp to change S3FS behaviour in this way.

[2015-04-16 11:52] o1da opened #12 "S3FS local file cache cleaning"
S3FS uses local file cache to speed up requests to often needed files. Local file cache is a common folder and S3FS doesn't clean it by itself. So it can possibly grows out of boundary of the local filesystem.

Some script which will look at last access time to these files and delete long time unused ones is needed. It can be probably run periodically by cron.

[2015-04-16 11:55] klokan commented on #3
After todays discussion: the Amazon Machine Image (AMI) allows easy and fast start of the prepared machine (http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AMIs.html) and replaces the docker here. Auto scaling uses strictly AMIs as well.

KlokanTech creates the Docker for IIIFServer production use separately (https://github.com/klokan/iiifserver-build/issues/14).

Regular update of the AMIs fro

[2015-04-16 11:55] #3 closed, assigned to nobody

[2015-04-16 12:08] klokan opened #13 "Ingest task for a single file [C.2]"
Create function for ingest task of a single file in Python. It receives as arguments the values specified in the Ingestion API - for one file from the . See: https://github.com/klokantech/hawk/wiki/C.Ingest

For example:

[code]

It downloads the highres image from `url`, encodes it with `kdu_compress` and uploads it to Amazon S3 with `boto` library. It returns status code - whether it was success

[2015-04-16 12:13] o1da opened #14 "Embedding App [B.1]"
Let's create embedding application in the pythonic flask environment. Development process can be done against sqlite database, but it can be easily replaced with another database system, because flask uses object mapping module - SQLAlchemy.

Embedding application provides public per-object embedding endpoints showing the image and basic metadata. All of these end points must be prepared:
- oEmbed

[2015-04-16 12:21] klokan opened #15 "IIIF protocol Presentation API template [B.4]"
Define template for minimal validad manifest.json for a single file hold in the database.

It is to provide:
- IIIF protocol Presentation API (at http://embed.europeana.eu/iiif/[UNIQUE-ID]/manifest.json) (IIIF service)

The manifest test must pass the validation step: http://iiif.io/api/presentation/validator/

Specification: http://iiif.io/api/presentation/2.0/

We should also try to load the ima

[2015-04-16 12:27] o1da opened #16 "S3FS flat folder data structure test"
Do a test to explore how our system would works if there are ten thousands and even more files in the local file cache.
Prove that a flat folder data structure is fine for our case and if not prepare concept of the folder hierarchy.
To be tested on the 100.000 sample dataset from #20

[2015-04-16 12:28] klokan opened #17 "Ingestion task queue with Celery [C.1]"
To ensure proper distributed execution of downloading and conversion tasks on the available infrastructure (possibly multiple virtual machines) a task queue management system is required. We have good experience with Celery, which can run against local RabbitMQ broker or even utilise Amazon SQS. The ingested files must be re-encoded for a fast processing by image server.

This must be integrated w

[2015-04-16 12:30] klokan opened #18 "License file (EUPL)"
To be in the repository

[2015-04-16 12:35] o1da opened #19 "S3FS huge images test"
Extent test from #4 with test which should work with huge images - 50MB and more.

This will be for the purpose of test with a lossless encoded profile.

http://help.oldmapsonline.org/jpeg2000

[2015-04-16 12:36] klokan opened #20 "Sample dataset for Europeana Creative IIIF"
For further testing we need a sample dataset with about 100.000 images of various sizes and ideally various types (maps, photos, text pages, manuscripts, newspaper pages, etc).

Kennisland team @Taskamp and @mzeinstra should be able to provide us with such a dataset.

Either all files packed in a huge .zip archive (on which we receive a download link) or individual files uploaded to Amazon S3 (ple

[2015-04-16 12:42] klokan opened #21 "embedhawk.klokantech.com - DNS"
Configure the DNS and set nginx to serve the prototype of embed service. It will run on a new EC2 machine.

The domain is a prototype for the planned: "embed.europeana.eu".

Configure GitHub auto-deploy for the master repository of hawk project on this.

Maybe use with a docker compose and make deploy via docker hub?

[2015-04-16 13:17] klokan opened #22 "Performance test"
Create graphs for a performance of test (with various number of visitors).

The test should compare:
- Standard setup vs
- Nginx memcached cache

And Kakadu JPEG2000 library performance
- With standard latest version
- With SpeedPack version of the library

The links to related tools and docs:
http://blog.modsaid.com/2014/04/stress-testing-with-siege-and-bombard.html
https://github.com/allardhoeve

[2015-04-16 13:30] klokan commented on #22
We can also use a tool different then bombard for these tests - if there is a better one.

[2015-04-16 13:33] o1da opened #23 "Stress test distributed"
Prepare and run distributed stress test after the Load Balancer and Auto Scaling will be turn on.
Some of these online services can be used:
- https://loadimpact.com/pricing
- https://loader.io/
- https://www.blitz.io/pricing#/subscriptions

[2015-04-16 13:48] klokan opened #24 "JPEG2000 profile"
For the ALPHA and BETA tests the JPEG2000 files are aggressively encoded for the online distribution.

We follow lossy encoding parameters, which I have specified at http://help.oldmapsonline.org/jpeg2000:

[code]

Under this ticket we can conduct additional tests and suggest improvement of this profile to provide better quality of the images of various type.
Tests may be done on the Europeana Cre

[2015-04-16 13:55] klokan opened #25 "Unit tests on the Flask app"
While working on the endpoints we should ensure the app is covered with tests - ideally from the day 1.

See:
http://flask.pocoo.org/docs/0.10/testing/
https://github.com/jarus/flask-testing/
http://pythonhosted.org/Flask-Testing/

Ideally we can configure Travis on the repository and also coveralls.io - if this can be done fast.
First (in this ticket just the test) automation of the tests and tes

[2015-04-20 07:53] petrsloup commented on #7
Initial viewers deployed at:
http://klokantech.github.io/hawk/viewers/iiifviewer_inline.html
http://klokantech.github.io/hawk/viewers/iiifviewer_hash.html#http://iiifhawk.klokantech.com/BM_Maps_100204668/info.json
http://klokantech.github.io/hawk/viewers/openseadragon_inline.html
http://klokantech.github.io/hawk/viewers/openseadragon_hash.html#http://iiifhawk.klokantech.com/BM_Maps_100204668/info.

[2015-04-20 15:24] mzeinstra commented on #20
I've created a new bucket on s3 with the same account 'example.data.hawk.bucket' with a small dataset (11) of large images.

Before I start uploading large quantities of images from different heritage institutions, is this what you are looking for?

[2015-04-21 11:49] klokan commented on #20
Thanks Maarten!

The tiny sample set is fine. We may need much larger amount of such files from Europeana or cultural heritage institutions (ideally over 100.000 files) and maybe some of these also with a larger size then the provided samples, if possible - to properly test the image serving infrastructure and the ingestion process at later point.

Please upload these individually to S3 - with pub

[2015-04-21 11:53] klokan commented on #20
Is there an easy way how to download such sample set of images from Europeana directly?
Or is it possible to get the list of the very large amounts of download links of images from the Europeana API or from the dumps? Are you using any of these or where does your samples come from?

[2015-04-21 12:16] mzeinstra commented on #20
Thanks for the reply.

I wrote two scripts, one to harvest metadata and direct links from all extra large, large and medium sized images from Europeana. Second, a script that downloads them from these providers and uploads them to the bucket. The Europeana Content Reuse Framework, will be introduced before the end of the month, that framework allows me to make these queries on the entire Europeana

[2015-04-21 12:46] mzeinstra commented on #13
Do you require us to compile the fields that should be minimally stored here? Also this has impact on the embedding features of the service, they will require a attribution line below the viewer. Right?

[2015-04-21 15:32] klokan commented on #13
Yes. The list of preferred fields would be nice - as it was not specified yet.

I expected to be very simple - following the IIIF Presentation API requirements:
http://iiif.io/api/presentation/2.0/#presentation-resource-properties

or alternatively to be based on the DublinCore 15 base elements:
See: http://en.wikipedia.org/wiki/Dublin_Core#Dublin_Core_Metadata_Element_Set_Version_1.1

The idea is

[2015-04-21 15:52] mzeinstra commented on #20
My machine has been uploading about 4 hours today. I believe we have somewhat in the neighbourhood of 1.100 images. As I am working with a limited set of images that are available from Europeana I have to makes sure that I don't continuously request images from a server and take it down. So I limited the uploads a bit.

[2015-04-21 15:55] klokan commented on #20
Maybe you can provide us just with a list of the URLs to the images only - instead of uploading all the files?

It would be helpful to have access to the scripts you have made for calling the Europeana Content Reuse Framework - possibly in a gist.github.com? Is the API also documented somewhere (for a curiosity).

[2015-04-21 17:54] mzeinstra commented on #20
Here is what I wrote: https://github.com/mzeinstra/Europeana-to-Amazon-s3

Here is the list I am using: https://github.com/mzeinstra/Europeana-to-Amazon-s3/blob/master/20150421LargeImages-openlylicensed.csv

Based on the beta dataset from Europeana and a script that I wrote to subtract high quality images:
https://github.com/mzeinstra/Europeana-to-Amazon-s3/blob/master/API-CRF-images.php

I use th

[2015-04-28 11:20] mzeinstra commented on #20
Is this something you can use for this ticket, do you want me to continue uploading to that bucket?

[2015-04-28 11:23] klokan commented on #20
We can use what you have provided already - thanks.
The next step is the early version of the core app #14 with basic ingestion #13, then we will continue with tests of the ingestion and performance on S3FS and let you know...

[2015-04-30 14:04] klokan commented on #7
Thanks you @petrsloup - for now this is perfect.

[2015-04-30 18:05] #18 closed, assigned to klokan

[2015-05-04 08:31] klokan commented on #15
We could use the Factory to produce the IIIF manifests serialised into JSON:
https://github.com/IIIF/presentation-api/tree/master/implementations/manifest-factory

[2015-05-04 08:34] klokan opened #26 "Sanitising HTML/JS in metadata"
During the import of the metadata we may need to validate the content for malformed content.

Read:
https://groups.google.com/forum/#!topic/iiif-discuss/1NJlfELHOs0

There are also examples of malformed content in the conversation.

[2015-05-04 09:45] klokan commented on #16
We will very probably use during the ingest (done in #13) a hash algorithm to create a hierarchy of directories to store the files.

For example this one (with sum of bytes of the name and directories with the hex values):
http://michaelandrews.typepad.com/the_technical_times/2009/10/creating-a-hashed-directory-structure.html

Required will be a patch of the IIPImage to support exactly the same al

[2015-05-06 12:15] mzeinstra commented on #13
Hi,

I've written a quick data model for the ingestion API as I see it, I've also mapped these to the services that are planned.

Does this match your thoughts on this?

You can find the 'model' here: https://docs.google.com/document/d/1fNnDGo5cFOPgfDV61BQTvCbW6iJbFit0GQfwphgf7B4/edit#

[2015-05-08 09:57] mzeinstra opened #27 "Sequence possibilities/implications"
Does Hawk allow ingestion of sequences images as described in http://iiif.io/api/presentation/2.0/#sequence ?

Europeana supports multiple images of the same object, do we support that and what are the implication of it for the ingestion API?

_Example_
This object http://europeana.eu/portal/record/11613/ENTOMOLOGY_NM_CZECHREPUBLIC_E118w.html
has these high-res images:
http://pm.nm.cz/OpenUpData/E

[2015-05-08 09:59] klokan commented on #27
It was not planned in the original specification.
We may look it up.

[2015-05-08 10:20] mzeinstra commented on #27
Are we thinking about extra work here or just a different implementation of the already planned work?

[2015-05-10 08:25] klokan commented on #26
Ingest task should be clever enough.

[2015-05-10 08:38] klokan commented on #22
Distributed stress test will follow in #23

[2015-05-10 09:30] klokan commented on #7
@o1da please apply openseadragon_inline.html for now into the embedding app.

[2015-05-10 11:25] o1da commented on #7
Done, it will be viewable after next deploy.

[2015-05-10 14:19] klokan commented on #14
After internal discussion - let's put the app to the Docker Compose and use Redis as the main key-value store, which will be used as storage for the queue as well.

[2015-05-10 15:04] klokan commented on #7
Metadata are not filled in the template yet - HTML title tag, H1, Copyright info must be in the template!

[2015-05-10 15:26] klokan commented on #27
This is the summary of extra work to be done on top of what was planned:
...
Individually these tasks looks quite OK, but all together it is already non-trivial number of time extra...

Update:
Sent to the top of this issue to show the progress of ticket in GitHub.

[2015-05-10 16:08] klokan commented on #8
Test with:
http://stackoverflow.com/questions/11835655/how-to-test-oembed-discovery
https://iframely.com

[2015-05-22 07:03] klokan commented on #21
Docker with configured autobuild for the "embed" is at: https://registry.hub.docker.com/u/klokantech/embedhawk/

[2015-05-24 15:44] o1da commented on #14
Redis and Docker Compose are used know. App can be tested on http://embedhawk.klokantech.com/.
I have there one testing item with id "000-test2" so manifest is there:
http://embedhawk.klokantech.com/iiif/000-test2/manifest.json
And iFrame is there:
http://embedhawk.klokantech.com/000-test2

[2015-05-24 15:44] o1da commented on #15
Basic manifest is prepared and validated - can be checked on http://iiif.io/api/presentation/validator/service/validate?url=http%3A%2F%2Fembedhawk.klokantech.com%2Fiiif%2F000-test2%2Fmanifest.json&version=2.0&format=html
It produces some warnings but about optional parameters. Examples from http://iiif.io/api/presentation/2.0/example/fixtures/ don't use them too.

How should I test it with Mirador

[2015-05-24 15:44] o1da commented on #21
embed.europeana.eu server is prepared and working at http://embedhawk.klokantech.com/, but for now if I do some changes in the flask application I have to pull sources from github and restart docker containers manually.
Exact production setting with image from the docker hub will be discussed.

[2015-05-24 15:45] o1da commented on #7
I have only title setted from metadata now. None other fields for metadata are prepared in the template. Should I put them below the title?

[2015-05-25 10:10] klokan commented on #15
Great for the validation! Let's review the importance of the warnings during the validation on next internal meeting. These are probably not essential...

Test of the Mirador to be done at: http://projectmirador.org/, Live Demo - Change Layout 3x1 - "+" Add Item and our manifest URL.
https://groups.google.com/d/topic/iiif-discuss/P38AgtE0P4U/discussion

For a sample manifest it runs fine:
http://w

[2015-05-25 10:11] klokan commented on #15
CORS headers must be set on the Flask level @o1da

[2015-05-25 10:35] o1da commented on #15
Header with 'Access-Control-Allow-Origin': '*' was already there.
Mirador doesn't says anything about CORS in my console, but there is an error if I fill url.

`openseadragon.js:16439 Uncaught TypeError: Cannot read property 'hasOwnProperty' of undefined`

[2015-05-25 10:38] klokan commented on #15
In all cases - the manifest.json from e-codices runs fine and from Hawk not - so the problem is not on the mirador demo installation, but on our side.

[2015-05-25 10:48] klokan opened #28 "iFrame embed design improvements"
Improvements of the design of the embedding part of the web - including all of the metadata for example.

Let's improve also the look&feel of the metadata overlays and implement correct responsibility of the CSS (after looking for best examples).

We may also upgrade OpenSeaDragon component to 2.0.0 (https://github.com/openseadragon/openseadragon/releases/tag/v2.0.0) - to have the latest fixes inc

[2015-05-25 10:50] klokan commented on #7
Thank you. This is fine for the initial implementation (beta).

The better metadata presentation and responsive design to be made under iFrame embed design improvements #28

[2015-05-25 11:05] klokan commented on #14
I wonder if not to make the the URLs look more Restful - in a sense `/[object-id]/format`.
Is there a technical issue preventing this, such as collision of the URLs?
It may look better. Let's discuss it on the next internal meeting.

Update: Simplified URLs in ticket #29

[2015-05-25 13:57] o1da commented on #15
Fixed - it works on the Mirador now.

[2015-05-26 20:06] klokan commented on #15
Tested. Works fine. Thanks!

[2015-05-26 20:06] #15 closed, assigned to o1da

[2015-05-26 20:13] klokan commented on #15
One more thing to fix @o1da: title should not be "Manifest of 000-test2" in Mirador - but the true title of the item!

[2015-05-27 07:38] klokan commented on #7
An issue appeared @o1da - the `@id` of the map is wrong:
"http://iiifhawk.klokantech.com/cgi-bin/iiifserver.fcgi?iiif=000-test2.jp2" - should be the short variant!!!

[2015-05-27 10:50] o1da commented on #7
It is ok, it was in my testing data only.

[2015-05-27 10:50] #7 closed, assigned to o1da

[2015-05-30 15:44] o1da commented on #8
Basic oEmbed provider is done. There is a simple configuration:
- URL scheme: `http://embedhawk.klokantech.com/oembed/*`
- API endpoint: `http://embedhawk.klokantech.com/oembedprovider`

oEmbed discovery is implemented too.

It can be checked in wordpress. It is needed to add a new oEmbed provider with this function:

`wp_oembed_add_provider( 'http://embedhawk.klokantech.com/oembed/*', http://embe

[2015-05-31 16:37] klokan commented on #8
BTW The related Wordpress info about oEmbed Discovery:
https://codex.wordpress.org/Embeds#What_About_oEmbed_Discovery.3F

I am closing this ticket - as the implementation seems to be finished. Thanks @o1da.

@mzeinstra could you please validate? Are you happy with the oEmbed implementation?

[2015-05-31 16:37] #8 closed, assigned to o1da

[2015-06-01 09:19] mzeinstra commented on #8
Hi thanks for this update.

I do have a few questions after some initial testing.
1. Your initial issues stated that this should be in a different branch than it is in now. Not sure if that is important though.
2. Why is it, that you can set an image max-width and max-height but always refer to the native image file (hardcoded in https://github.com/klokantech/hawk/blob/master/app/templates/oembed_

[2015-06-01 13:22] klokan commented on #11
@MartinMikita coding to be done in a 'nofile' branch under https://github.com/klokantech/s3fs-fuse

[2015-06-01 13:23] klokan commented on #9
@MartinMikita coding to be done in a 'listing' branch under https://github.com/klokantech/s3fs-fuse

[2015-06-01 17:02] klokan opened #29 "Simplified URLs"
The original specification https://github.com/klokantech/hawk/wiki/B.Embed proposed a set of URLs for the embedding, which can be simplified while practically providing the same functionality. Simple is better... This ticket suggests simplification of the URLs exposed by the HAWK service.

The project can have only a single main URL per image:
http://embed.europeana.eu/[UNIQUE-ID]
- On this URL is

[2015-06-03 09:47] klokan opened #30 "Verify mappings in all services"
This ticket is here to verify their availability in all of the core metadata imports / exports.
These need to be checked:
- [x] Ingestion API
- [x] Viewer (META HEADERS + visible responsive DIV overlay)
- [x] oEmbed
- [x] IIIF Presentation API

Here is the relevant table:

| Label | Ingestion API | Viewer | oEmbed | Presentation API (IIIF) |
| --- | --- | --- | --- | --- |
| ID | ID |  |  | @id |

[2015-06-03 09:51] klokan commented on #8
@mzeinstra
Answers:
1. Internal discussion leaded to the direct implementation inside of the master branch.
2. The embedding in oEmbed runs in fact via XML and JSON. The purpose of the template mentioned above is to provide `/ombed/[UNIQUE-ID]` web sites - which in oEmbed are in fact only used for identification of what you want to embed. I am proposing in #29 to get rid of these pages completely

[2015-06-03 10:03] mzeinstra commented on #30
The table above provides the technical way that I see to represent this. I defer to your choices if from your experience in implementing these services you would do it differently.

[2015-06-03 10:10] ghost commented on #29
At the moment I don't foresee any problems with this simplification. I agree that the simpler the better.

[2015-06-03 10:14] mzeinstra commented on #29
I Agree with @Taskamp this seems like an elegant enhancement.

[2015-06-03 10:22] klokan commented on #29
Scheduled for BETA @o1da

[2015-06-04 20:54] MartinMikita commented on #11
It is impossible to avoid checking for folder, because reading file "jp2/test.jp2" first is checking whether parent object is accessible - it is checking for "jp2".

Only avoiding checking for "path_$folder$" and listing bucket can be removed.

[2015-06-04 21:10] MartinMikita commented on #11
https://github.com/klokantech/s3fs-fuse/commit/46247d581fc42f4a2bd57089b582364b9887c98a

[2015-06-04 22:21] MartinMikita commented on #9
Function `list_bucket` returns empty list.
- `ls` shows empty list for existing directory, or error if directory does not exist (correct behaviour)
- `ls *.jp2` with wildcard not permitted
- `ls <file>` working as before change

https://github.com/klokantech/s3fs-fuse/tree/listing

[2015-06-05 04:48] klokan commented on #9
Thanks @MartinMikita!

Could you please revert the two commits, create a single commit, and ensure there are no changes of end-of-line character in half of the file?
From the diff must be clearly visible the modifications you have done...

[2015-06-05 05:00] klokan commented on #11
Thanks @MartinMikita.

Please remove the branch, create it again and push a clean commit which is not changing the end-of-lines.

The target of this ticker is to make (if possible) only one S3 HTTP query to get information whether a file (key) exists or not, when a process makes query similar to "ls -lah path/subpath/filename.jp2" on a mounted s3fs disk.

How many requests to S3 are made now to ge

[2015-06-05 05:02] klokan commented on #17
Moving to BETA - as it is easier to be done together with the initial implementation.

[2015-06-05 05:12] klokan commented on #13
An early implementation done and deployed.
We need to refactor and clean the code now, create a set of tests, protect the endpoint with password, etc.

Usage test a la:
`$ curl -H "Content-Type: application/json" -X POST -d @ingest.json http://embedhawk.klokantech.com/ingest`

with ingest.json similar to:

[code]

This returns id of a batch. It is possible to ask for the status of the batch by:
ht

[2015-06-05 07:28] klokan opened #31 "Amazon CloudSearch storage"
We have agreed on meeting on Friday June 5th that HAWK will push the JSONs to Amazon CloudSearch after the successful finalisation of every Ingest task.

It means all the metadata for images available via the embedding and image server will be searchable with fulltext search on the defined fields.

The code of the Ingest tasks will make the push to CloudSeacrh via boto.

This is to be developed as

[2015-06-05 09:06] klokan commented on #20
Another nice dataset with large number (250k) of large files may be the USGS maps:
List at:
http://thor-f5.er.usgs.gov/ngtoc/metadata/misc/topomaps_all.zip
Links to individual huge JPEGs like:
http://ngmdb.usgs.gov/img4/ht_icons/Browse/NV/NV_Ely_321669_1963_250000.jpg

[2015-06-05 15:08] mzeinstra opened #32 "Service is going to live at embedr.eu"
embed.europeana.eu was a placeholder name. We have now chosen a definitive domain name: embedr.eu

I am in control over it's DNS records. Contact me when you need to make changes to that.

Also @taskamp and I are now also available at hello@embedr.eu

[update by @klokan] Tasks to do here:
- [x] @mzeinstra configures the domain to be administered from Amazon DNS (Route 53)
- [x] @klokantech: iiif.e

[2015-06-05 15:16] klokan commented on #32
OK. To be done as part of FINAL milestone.

[2015-06-05 15:27] klokan commented on #32
So is there going to be the mapping like:
iiif.europeana.eu -> http://iiif.embedr.eu
embed.europeana.eu/[UNIQUE-ID] -> www.embedr.eu/[UNIQUE-ID]
embed.europeana.eu/oembed -> www.embedr.eu/oembed

How do you plan to mix the URLs with the website prepared by the third-party?

[2015-06-05 15:34] mzeinstra commented on #32
As discussed we will be presenting the service formally on July 10th as part of the end of the parent project Europeana Creative. The FINAL milestone officially closes at July 15th, we have to discuss if this will limit our presenting options.

I would be fine with still using a subdomain to solve the issue of mixing URLs

I can imagine that we use:
iiif.embedr.eu for the IIIF api

embedr.eu/m/{un

[2015-06-05 16:18] klokan commented on #32
I guess ideal would be to have:
embedr.eu/ - project website
embedr.eu/{unique_ID} - for the main viewer as well as iframe embedding, omebed tags - the single page for one image
embedr.eu/{a-few-named-pages} - for whatever you want such as:
embedr.eu/blog/*
embedr.eu/pricing/
...

But here starts the complications if two parties are doing one web with different technologies...

You can't mix /{uni

[2015-06-06 07:59] mzeinstra commented on #32
I want to run media.embedr.eu instead of embed.europeana.eu

I'll include @tomkr in this ticket, he is our front-end developer. He might also have some ideas on how to solve this.

[2015-06-07 23:35] MartinMikita commented on #11
Request to the file is called by FUSE with the function `s3fs_getattr` on each part of the path.

Firstly FUSE is getting information about `/path`, and s3-fuse is checking 4 HTTP queries:
- `/path` (as file)
- `/path/` (as directory), S3 on the request above returns 404
- `/path_$folder$`
- list bucket operation on `/path`

Now I am getting for the not-existent file 2 same callings `s3fs_getattr`

[2015-06-08 07:44] klokan commented on #11
The last 2 steps from the 4 should be removed - which I believe you did already above.
I expect that 'as directory' check is in fact a request to S3 for existence of a key with given prefix, right?
Please remove the existing branch and push it again with a clean commit without malformed end-of-lines.

[2015-06-08 08:30] klokan commented on #32
Summary of what should be done added in the ticker above.
KlokanTech will change the domains:
- iiif.europeana.eu (iiifhawk.klokantech.com) -> http://iiif.embedr.eu
- embed.europeana.eu (embedhawk.klokantech.com) -> http://media.embedr.eu

@mzeinstra - will move the DNS servers for embedr.eu to Amazon http://aws.amazon.com/route53/. This is required for the load-balancer to run correctly, and it m

[2015-06-08 23:43] MartinMikita commented on #11
I made more research:

FUSE is starting from the first part of path. On each part it is calling `s3fs_getattr`.
But this method is checking parents part of the path also.

Demonstration:
Search path: `/a/b/c/file.tif
The beginning is the same for existent/non-existent file:
1. part `/a` : 2 requests (`/a` and `/a/`, the last succeed)
2. part `/a/b` : 4 requests, 2 per each part (firstly parent `/a

[2015-06-09 00:09] MartinMikita commented on #11
Change rewritten in https://github.com/klokantech/s3fs-fuse/commit/6c75dffd3126a51e1159ba16bebfcce396759014

I tried remove checking parents for object, and in result (with change above):
Existent file: 7 requests
Not existent file: 8 requests

[2015-06-09 07:44] klokan commented on #9
Done in:
https://github.com/klokantech/s3fs-fuse/commit/7a583eb4ec72a75042fd03e2c2da7abd2718859f

[2015-06-09 07:54] klokan commented on #9
@o1da part of the deploy should be compiling of the hawk branch of s3fs-fuse:
https://github.com/klokantech/s3fs-fuse/tree/hawk

Finished. In case of issues we reopen.

[2015-06-09 07:54] #9 closed, assigned to MartinMikita

[2015-06-09 07:54] klokan commented on #11
@o1da part of the deploy should be compiling of the hawk branch of s3fs-fuse:
https://github.com/klokantech/s3fs-fuse/tree/hawk

Finished. In case of issues we reopen.

[2015-06-09 21:33] o1da commented on #29
It is done and deployed on http://embedhawk.klokantech.com/

[2015-06-09 21:33] #29 closed, assigned to o1da

[2015-06-09 21:40] o1da commented on #13
Ingest with sequences and randomly delayed processing of image (if the first attempt fails) is prepared.
- [x] Secure access needs to be added (via nginx).
- [x] Delete task to be done via celery (removing S3 files)
- [x] Update task may delete S3 files as well (if previously downloaded files are missing in new ingest)
- [x] Deleting of an item with ERROR status because of incomplete sequence shou

[2015-06-09 21:44] o1da commented on #17
Celery is used now, there will be potentially some changes in the ingest itself, but work on this particular ticket is finished.

[2015-06-09 21:44] #17 closed, assigned to nobody

[2015-06-10 07:37] o1da commented on #21
Will be discussed how to do a final deploy.

[2015-06-10 07:41] klokan commented on #28
On meeting June 5th @mzeinstra and @taskamp mentioned they want to provide ideas and mockups or CSS for the fullscreen viewer used for iFrame embedding - such as http://embedhawk.klokantech.com/000-test2
with template at
https://github.com/klokantech/hawk/blob/master/embed/app/templates/iframe_openseadragon_inline.html

Keep in mind the "Next" / "Previous" links should be available for the sequenc

[2015-06-10 08:06] klokan opened #33 "Standardised deploy of new releases"
The process of deploy of changes done in GitHub code for the Flask app and ingest task code to the production servers must be standardised and documented.

We could use KlokanTech's docker-deploy process on the Amazon EC2 or go for rebuilding of the AMIs directly on the Amazon infrastructure, because AMIs are required for the load-balancer to work correctly.

[2015-06-10 08:08] klokan commented on #21
The embed.klokantech.com is running correctly.
Autodeploy or production deploy of new releases moved to FINAL milestone under #33.

[2015-06-10 08:08] #21 closed, assigned to o1da

[2015-06-10 08:15] klokan commented on #16
CHANGE: It would make more sense to introduce the hierarchy of directories only on the side of internal S3FS local cache on the disk and make it hidden for the other processes via FUSE.

It means to test and patch only the S3FS code and have only one implementation on one place - instead of patching two projects - the hawk ingest code in python and the iipimage code.
This is better then approach d

[2015-06-10 09:10] o1da opened #34 "Documentation"
Documentation of the project:
- [x] Update wiki with the model definition from https://docs.google.com/document/d/1fNnDGo5cFOPgfDV61BQTvCbW6iJbFit0GQfwphgf7B4/edit#heading=h.kjguvyt0pvv2
- [x] Update wiki with changes introduced in sequence implementation: https://github.com/klokantech/hawk/issues/27
- [x] Add more documentation for deployment (with docker compose and individual containers) - in R

[2015-06-10 09:25] klokan commented on #14
The core of embedding app is now finished.
Remaining tasks and improvements are in other tickets.

[2015-06-10 09:25] #14 closed, assigned to o1da

[2015-06-10 09:28] klokan commented on #22
Moving to FINAL milestone - not essential for the contract.

[2015-06-10 09:38] klokan opened #35 "Ingest test with metadata"
For testing the performance and ingest we need to run a set of ingest tasks with sample data collected in #20.

It make sense to run this when the implementation of ingest tasks is finished #13 and CloudSearch storage is implemented as well #31.

Once this ingest test is successful we will run additional large ingest - for the performance tests #38

[2015-06-10 09:38] klokan commented on #31
It make sense to do this ASAP - before running large ingest test for BETA.

[2015-06-10 09:39] klokan commented on #20
Sample data are prepared in this ticket.
The large ingest tests to be run under #35

[2015-06-10 09:39] #20 closed, assigned to mzeinstra

[2015-06-10 10:04] klokan opened #36 "Change project source code structure"
To make the project more clean we should refactor the code a bit.

We should have directory for each docker container:
- embed
- ingest
- iiif
- nginx

Each will have inside a README.md file.

In the root of the project will be only things related to docker compose - and documentation for how to start the project with docker compose locally.

[2015-06-11 14:24] mzeinstra commented on #28
Uploading an image to Github seems to fail today so I've made our initial designs available on Dropbox: https://www.dropbox.com/sh/4zzjilzvapnequm/AABLa7u297xaO3xRt339eQ-4a?dl=0

For Klokan hawk_webdesign_photo.jpg is most relevant, everything except for the menu/search bar can be considered as a design for an iFrame.

Does this work for an initial idea?

[2015-06-11 18:05] o1da commented on #27
Done

[2015-06-11 18:05] #27 closed, assigned to o1da

[2015-06-12 17:33] mzeinstra commented on #32
Embedr.eu is now available on Route 53

[2015-06-14 12:48] o1da commented on #26
Done with
http://bleach.readthedocs.org/en/latest/index.html

Html is allowed only for description field and there is a list for allowed tags. For now it is
`ALLOWED_TAGS = ['b', 'blockquote', 'code', 'em', 'i', 'li', 'ol', 'strong', 'ul']`

Everywhere else tags are striped.

[2015-06-14 12:48] #26 closed, assigned to o1da

[2015-06-15 10:43] o1da commented on #30
Done, a few services are updated.

[2015-06-15 10:43] #30 closed, assigned to o1da

[2015-06-15 14:03] klokan opened #37 "Sequence reshuffling instead of redownload"
In case user calls Ingest API with the operation "update" on a sequence, then our implementation keeps the items which stay in place.
A successful ingest of 1,2,3 followed by an update 4,2,3 just deletes 1 and includes 4.
A successful ingest of 1,2,3 followed by an update 2,3,4 will delete everything from S3 and download all pages again.

A better implementation would reshuffle (copy & delete) the

[2015-06-15 14:22] klokan commented on #13
The tasks here still missing:
- [x] Password for Ingest API to be added in the Installation Protocol.
- [x] If Item fails on Ingest because any of the urls in sequence fails - we will delete all downloaded items to keep the S3 storage clean
- [x] Ensure updates of sequences 1,2,3 and 4,2,3 runs as described in #37, but no reschuffling

[2015-06-16 13:51] o1da commented on #13
Done. If someone changes order of url in the ingest for the specific item, the S3 storage is updated correctly (it can be optimized #37). But we should discuss connection of ingest with cache cleaning in #12 (s3fs local file cache and memcached too), to ensure that only fresh data remains on the complete service chain after the ingest.

[2015-06-16 13:51] #13 closed, assigned to o1da

[2015-06-16 16:52] mzeinstra commented on #31
@tomkr is wondering how the data will be put in CloudSearch, which fields will be available and which are indexed. He can use a dummy service from AWS but I believe the two projects need to agree on how the data will be stored.

[2015-06-16 18:12] tomkr commented on #31
Ideally a server with some data is available for me to develop against. Do you have an ETA for that yet?

[2015-06-18 07:26] klokan commented on #36
This is now finished - documentation to be improved in #34

[2015-06-18 07:26] #36 closed, assigned to o1da

[2015-06-18 07:54] klokan commented on #31
As mentioned above - we should have sample larger test data in the CloudSearch domain on June 22nd (Monday) - when ticket #35 is finished.

The Ingest API now puts the metadata into Amazon CloudSearch already.

A sample direct JSON query to the Amazon CloudSearch is:
http://search-hawk-36sqxzyajg5sxa5aru5naa22aa.eu-central-1.cloudsearch.amazonaws.com/2013-01-01/search?q=test

which contains 'id' s

[2015-06-18 07:54] #31 closed, assigned to o1da

[2015-06-18 09:03] klokan commented on #20
The provided harvesting script requires Europeana API Key available from: http://www.europeana.eu/portal/myeuropeana#api-keys

@o1da the downloading script needs to be changed to generate HAWK Ingest API compatible JSON containing also the metadata - for the Ingest test #35.

We will save the generated JSON to a release of HAWK for the test purposes.

The code of the command-line utility [API-CRF-

[2015-06-18 09:20] klokan opened #38 "Large ingest test"
An ingest with 100k - 250k items with larger files (10kx10k pixels) - for performance testing of S3FS - especially #16

Lets use the USGS dataset: https://github.com/klokantech/hawk/issues/20#issuecomment-109211671

[2015-06-18 09:21] klokan commented on #35
This test will ingest two sample batches with metadata:
- [x] Europeana dump with metadata (5000+ items) - harvested with https://github.com/klokantech/hawk/issues/20#issuecomment-113082375
- [x] Example of sequence with real metadata - mentioned in #27

This will provide sample files always available after the BETA milestone is closed - to be usable in demos.

The large ingest test (100k - 250k f

[2015-06-18 10:04] mzeinstra commented on #20
Europeana's API has changed since I wrote that script. I'll see if I can improve what I've written there in the next couple of hours. I think I can simplify it + generate JSON output.

@o1da you can also find me on skype (mzeinstra) to discuss that script

[2015-06-18 11:27] mzeinstra commented on #20
@o1da I've updated the script to be more concise, print JSON, have fewer calls to Europeana and point to the correct API endpoint: https://github.com/mzeinstra/Europeana-to-Amazon-s3/blob/master/API-CRF-images.php

It has no error correction and will allow empty fields. Which I think is great for testing the ingestion API ;)

[2015-06-18 19:28] tomkr commented on #31
I plan to use the CloudSearch API directly from JavaScript unless this gives issues, but that will be my starting point.

[2015-06-19 15:34] klokan commented on #20
Thanks @mzeinstra - the script has been now used for the test ingest.

[2015-06-19 15:43] klokan commented on #35
The ingest test is successfully finished - some of the items failed to download (it was [batch_id=3](http://embedhawk.klokantech.com/ingest?batch_id=3) ).

The ingested JSON files are downloadable in the release:
https://github.com/klokantech/hawk/releases/tag/v0.1

The CloudSearch can find the ingested items with a fulltext queries:
http://search-hawk-36sqxzyajg5sxa5aru5naa22aa.eu-central-1.cloud

[2015-06-19 15:43] #35 closed, assigned to o1da

[2015-06-20 14:22] o1da commented on #25
Some tests are added, it should be continually updated. I have just added "database wrapper", so I can use fake redis server during the testing without any changes in the code.

Tests: https://github.com/klokantech/hawk/blob/master/embed/test.py

Travis in #41

[2015-06-20 14:22] #25 closed, assigned to o1da

[2015-06-20 14:30] o1da opened #39 "Change in the Nginx configuration - support for larger ingest files"
Nginx configuration in the ngix docker container should be modified, because upload of a few MB large ingest file with json can lead to 413 error.
http://www.cyberciti.biz/faq/linux-unix-bsd-nginx-413-request-entity-too-large/

[2015-06-20 14:36] o1da opened #40 "Item ID modification"
The max size of item ID was increased from 32 chars to 256 chars, because many of IDs from the Europeana data set #20 were longer. We should update wiki and use a hash (probably SHA512) during the communication (insert, delete) with Amazon CloudSearch, because it supports max 128 chars long keys.

[2015-06-20 14:48] o1da commented on #20
Thank you @mzeinstra yours script really makes our work easier. I updated it a bit, it can be download from our fork https://github.com/klokantech/Europeana-to-Amazon-s3

[2015-06-21 09:35] klokan opened #41 "Travis for unittests"
We should configure Travis for running unittest from #25 automatically - see: http://docs.travis-ci.com/user/languages/python/
Optionally explore also Coveralls.

[2015-06-22 08:56] mzeinstra opened #42 "Conserve original ID"
Testing the beta I saw that the ingestion script did a replace of all slashed in the ID:
https://github.com/klokantech/Europeana-to-Amazon-s3/blob/master/API-CRF-images.php#L73

I think believe we need to be able to conserve the original ID for later development / updating of records. Going from an original ID to the Hawk ID will work the other way around will not work as the original might contai

[2015-06-22 09:20] mzeinstra commented on #42
See how ID's need to be set up: https://github.com/klokantech/hawk/wiki/C.Ingest

(we follow specification)

[2015-06-22 09:20] #42 closed, assigned to nobody

[2015-06-22 09:39] klokan commented on #40
To be put into WIKI.

[2015-06-22 13:22] mzeinstra commented on #28
Does the oEmbed include this iFrame code or will we have a separate desgin for that?

[2015-06-22 13:24] klokan commented on #28
There is no separate design for oEmbed.
oEmbed runs via the links to the JSON and XML documents included in this viewer.

[2015-06-25 11:31] klokan opened #43 "CloudSearch Item + Task"
It would be good to enrich the storage of the CloudSearch - to have an extra permanent storage of the core metadata next to our redis.

The `Item`:
- [x] timestamp of ingest
- [x] url / width / height

The `Batch` in a custom search domain:
- [x] store the already finished batches.

[2015-06-25 11:34] klokan commented on #12
Inspiration:
https://github.com/s3fs-fuse/s3fs-fuse/blob/master/test/sample_delcache.sh

[2015-06-25 12:14] klokan commented on #16
@MartinMikita next week you should start on S3FS patch for this!
On Tuesday morning we can discuss details after the scrum hangout...

[2015-06-25 22:29] o1da commented on #39
Done and deployed, limit is setup to 100MB

[2015-06-25 22:29] #39 closed, assigned to nobody

[2015-06-26 09:19] mzeinstra opened #44 "Did the ingestion process break?"
I've uploaded a test batch (batch 4) containing one file to the ingestion API. It kept the status pending, so I looked at batch 3 which is pending from item 2493 onwards. I believe batch 3 was part of #35 which is closed.

Does this mean that the ingestion process is just really slow or did one of the parts of ingestion break?

[2015-06-26 09:36] o1da commented on #44
After the refactoring during the last night I initiated re run the ingestions number 1 - 3, because data model and communication to cloudsearch was changed. The process was paused in the middle (I don't know why now). I have just restarted docker-compose now and it started to work from the point where it stopped. Only pending tasks are being processed now. For now the 1500 tasks are remaining. Ple

[2015-06-26 11:56] mzeinstra commented on #44
Yes, working properly again.

[2015-06-26 11:56] #44 closed, assigned to nobody

[2015-06-26 12:37] mzeinstra opened #45 "Performance issues"
Today I've been testing ingestion and see how this works. I've noticed that the front-end that is being developed on dev.embedr.eu suffers from slow search results and empty thumbnails.

Are these two related? Will this also happen when the service is in production?

[2015-06-26 12:51] o1da commented on #45
Search performance is out of our control generally, we just fill the data into Amazon CloudSearch service.  Only a few settings can be set there, probably the most interesting option is a type of CloudSearch instance - for now we are using of "search.m3.medium instance" which was the first type, but there are others.

And I have just checked thumbnail issues and realized that you don't use valid I

[2015-06-26 12:55] mzeinstra commented on #45
Ah I see, but CloudSearch does not run on the same instance as the ingestion?

@tomkr included for the reference to his implementation of CloudSearch.

[2015-06-26 14:34] klokan commented on #45
CloudSearch is a service from Amazon - it does not run on our EC2.
@tomkr manages access to CloudSearch API on his own.

More comments here:
- the http://dev.embedr.eu/ submits search query on every key stroke - without any delay. That's not a best practice...
- the http://dev.embedr.eu/ calls immediately for thumbnails. For repeatedly visited items this is going to be fast, but when the image is

[2015-06-26 14:34] #45 closed, assigned to nobody

[2015-06-26 14:47] mzeinstra commented on #45
Ah I see, I didn't understand the flow behind it. Now I do. Thanks for setting me straight.

[2015-06-26 19:45] tomkr commented on #45
Quick comment on the search on every keystroke: this is something that will change, but is very practical for my tests. The final version should search on enter/button click, so that queries can be constructed before being submitted. Good of you to notice though. :+1:

[2015-06-27 17:23] o1da commented on #32
Done. Please start to use new names immediately.

[2015-06-27 17:23] #32 closed, assigned to o1da

[2015-06-29 10:29] mzeinstra commented on #43
It would be great if width and height become available through CloudSearch. That allows us to do some high quality maximum size embedding.

See https://github.com/tomkr/embedr/issues/22 on my idea on this.

[2015-06-30 06:33] o1da commented on #43
Image metadata are available on the CloudSearch now (for a new ingested item - I have to delete and ingest everything now).

[2015-06-30 06:35] o1da commented on #40
Wiki is changed and hash is used instead of plain ID during the communication with CloudSearch

[2015-06-30 06:35] #40 closed, assigned to nobody

[2015-06-30 16:57] o1da commented on #43
Finished batches are on the CloudSearch (separate domain) too, but for now only as backup.

[2015-07-01 14:34] MartinMikita commented on #11
Branch hawk of s3fs-fuse is not working as expected

[2015-07-01 16:12] MartinMikita commented on #11
s3fs-fuse is working as expected, problem was with python boto library.

Important Note!

Amazon S3 has no "folder structure" - it is just list of keys created by user.
"Folder" is created as special key "path/", which is empty. (see [comment](http://stackoverflow.com/questions/1939743/amazon-s3-boto-how-to-create-folder/25033276#25033276))

@o1da was uploading sequences as "folder/file.jp2", and

[2015-07-01 16:12] #11 closed, assigned to MartinMikita

[2015-07-02 14:21] MartinMikita commented on #12
S3FS has local stat cache and file cache.
It is possible to set timeout for stat cache (information about existing key - file size).

I find now this comment with code for opening (reading) file from s3fs:

[code]

If we keep stat cache for file, which will be deleted, than `ls` command will succeed until timeout, displaying file info (size) for already not-existing file.
But, when file is opened

[2015-07-06 12:22] ghost opened #47 "Metadata field"
The metadata should appear below the picture, in a similar way as displayed here:

![screen shot 2015-07-06 at 14 12 00](https://cloud.githubusercontent.com/assets/3542255/8522016/171b2ff4-23ea-11e5-81eb-99e712aadd8c.png)

The font is Raleway, and the Creative Commons icon directs you to the CC-page that explains this license.

The icons can be downloaded at this page:

https://creativecommons.org

[2015-07-06 12:23] ghost commented on #47
I'm sorry I posted this at the wrong page. I close the issue now. It is not for you.

[2015-07-06 12:23] #47 closed, assigned to nobody

[2015-07-07 12:55] mzeinstra opened #48 "Visual tweaks to home page"

[2015-07-07 12:56] mzeinstra commented on #48
Sorry wrong repository. Disregard the above

[2015-07-07 12:56] #48 closed, assigned to nobody

[2015-07-07 21:58] mzeinstra opened #50 "artifacts created by IIIF?"
I've noticed some artifacts on tiles on this image:

![screen shot 2015-07-07 at 23 55 37](https://cloud.githubusercontent.com/assets/5627431/8558348/ca3e9458-2503-11e5-932e-dc25019f1e31.png)

which disappear when zoomed in further.

![screen shot 2015-07-07 at 23 57 08](https://cloud.githubusercontent.com/assets/5627431/8558364/ee5b6a78-2503-11e5-8dd2-54e44cd9c969.png)

Do/Can we do anything abou

[2015-07-08 10:06] o1da commented on #50
Yes it looks like a problem on the IIIF side. If you look at full size image on `http://iiif.embedr.eu/Canaletto_I_058_jpg/full/full/0/native.jpg` it is without artefacts.
@MartinMikita please look at this problem.

[2015-07-08 10:53] mzeinstra opened #51 "Source not populated in Flask"
I noticed that source is not being populated on the viewer, this leads me to believe that it is not being populated in Flask.

Example: the item http://dev.embedr.eu/#/_08511_Detaliu_asp_k_17C6C52F_2C64_48E0_9A77_7D032BDEF14D
is ingestion like this:

[code]

according to https://github.com/klokantech/hawk/blob/master/embed/app/templates/iframe_openseadragon_inline.html#L40 the institution should b

[2015-07-08 11:29] o1da commented on #51
It was a bug - source wasn't been saved to the local database at the end. A new ingested items will be ok. If you want to correct previously ingested items a new ingest with old json file is needed - it only rewrites metadata without image processing, because it would recognize if images were processed previously.

[2015-07-08 11:29] #51 closed, assigned to nobody

[2015-07-08 11:34] o1da commented on #28
Design is being improved by @tomkr via pull requests, so this ticket is no longer need.

[2015-07-08 11:34] #28 closed, assigned to klokan

[2015-07-08 11:38] mzeinstra commented on #51
Thanks.

For my info how does it recognise that the image is the same as the previous ingestion request?

[2015-07-08 11:52] o1da commented on #51
Via url, if the url field is same for specific item in ingest.json (and on same position, only if sequence is used), nothing is needed to be done with image, only metadata are stored in the local database and they are pushed to the CloudSearch service. Without image processing it should be really fast.

[2015-07-08 19:04] MartinMikita commented on #50
Problem is in the viewer.

Viewer is requesting wrong type of URL for "side-tiles"
actual requested URL:
http://iiif.embedr.eu/Canaletto_I_058_jpg/4608,512,94,512/47,/0/default.jpg
correct requested URL:
http://iiif.embedr.eu/Canaletto_I_058_jpg/4608,512,94,512/47,256/0/default.jpg

side-tiles has size 47 x 256 - otherwise they are reduced on server using bilinear interpolation into 47x47 pixels,

[2015-07-08 20:02] klokan commented on #50
In #28 I have suggested upgrade of the OpenSeaDragon component to 2.0. It may help to solve this problem and also some others - such as Retina support, etc.
That task has NOT been assigned to @klokantech team - but to a third-party... @mzeinstra - please inform your front-end developer...

@MartinMikita - could you please create an internal ticket for tracking the here reported issue on iiifserver

[2015-07-08 21:06] o1da commented on #16
After the internal discussion we decided not to do any patch for this, because extensive s3fs file cache cleaning is going to be done instead #12

[2015-07-08 21:06] #16 closed, assigned to MartinMikita

[2015-07-08 21:18] mzeinstra commented on #50
Yes, completely agree that this is not part of our development within Hawk and frankly i suspected this was due to one of the open source projects we were doing, I was just making sure.

[2015-07-08 21:20] klokan commented on #50
Related internal private ticket created at: https://github.com/klokan/iiifserver-build/issues/20

[2015-07-08 21:22] klokan commented on #50
@o1da could you please provide us with a download link for the related .jp2 file? To be able to reproduce the bug easily?

[2015-07-08 21:44] o1da commented on #50
https://drive.google.com/file/d/0B2VmXf-_xLa6VHE3SlZvSnQtQ1U/view

[2015-07-08 22:11] o1da commented on #12
Script for periodical s3fs local cache cleaning is prepared and deployed on the iiif.embedr.eu server. It isn't run by cron internally but by supervisor. Installation protocol was updated.

[2015-07-08 22:11] #12 closed, assigned to o1da

[2015-07-08 22:46] o1da commented on #19
Lossless encoded profile isn't used on the IIIF server now and it probably wouldn't be used at all. So if we stay with lossy compression even 350MB large tiff is converted to approx 6-7MB large jp2. So there wouldn't be any problem with at least twice larger source tiff as 350MB. And this situation was already covered by the "big image dataset" test. From testing data which have been processed up

[2015-07-08 22:47] #19 closed, assigned to o1da

[2015-07-09 13:35] mzeinstra opened #54 "Could we stop batch 33?"
In preparation of the demo I've wanted to re-ingest some high res images to solve that source link problem of #51 in our demo images, however batch 33 is still running, ingesting over 25.000 images. Batch 34 has our demo images.

@o1da is it possible to stop batch 33 so 34 can go ahead and ingest?

[2015-07-09 13:51] o1da commented on #54
It is a problem, I can only purge all waiting tasks from celery. If you don't have item with sequence database should be fine and consistent. But you have to ingest everything what is pending again. Should I do it?
But I have to warn you, I haven't done it yet in this way.

[2015-07-09 14:26] mzeinstra commented on #54
No lets leave it as is, I found other images to work with.

##

Kennisland | www.kl.nl | t +31205756720 | m +31643053919 | @mzeinstra

[2015-07-09 14:28] o1da commented on #54
Ok

[2015-07-09 14:28] #54 closed, assigned to nobody

[2015-07-09 17:59] o1da commented on #38
Test was successful, it ingested approx 170k of historical maps. It gives many useful suggestions which we can think about. Nothing have to be done immediately, because any important problem haven't appeared, but for the production environment we should adapt some performance tweaks.

media.embedr.eu runs on the Amazon EC2 t2.medium instance, it has 2 CPU with 4GB of RAM. T2 instances have concept

[2015-07-09 17:59] #38 closed, assigned to o1da

[2015-07-09 18:09] o1da opened #55 "Auto Scaling for ingest"
As a result of the large ingest text #38 it makes really sense to setup Auto Scale for ingest process to  dynamically boost performance and significantly shorten time if the large ingest is being done and scale down to baseline performance when no ingest is running.

It make sense not to do ingest on the master itself, because it have to serve as redis server for all slaves and it have to response

[2015-07-09 18:09] #50 closed, assigned to MartinMikita

[2015-07-09 18:23] o1da commented on #43
During the large ingest test #38 I noticed problem with store of completed batch on the CloudSearch. CloudSearch allowed document up to size of 5MB and json with thousands of item can be much larger. I'm not sure if the CloudSearch is good place to store completed batch.

[2015-07-16 00:29] o1da commented on #10
Done. Elastic Load Balancing with Auto Scaling is configured and tested.
Documentation is extended with "Production deployment" part, where current configuration is described and useful tips are provided.

[2015-07-16 00:29] #10 closed, assigned to nobody

[2015-07-17 09:27] o1da commented on #41
Travis is configured and passing. I'm going to create separate ticket for Coveralls.

[2015-07-17 09:27] #41 closed, assigned to o1da

[2015-07-17 09:27] o1da opened #56 "Coveralls for unittests"
Let's update #41 with Coveralls also.
https://coveralls.io/
https://godjango.com/25-travis-ci-and-coveralls/

[2015-07-17 09:28] o1da commented on #22
We have standard configuration only now without SpeedPack version of JPEG2000 library. A new test should be run after the external memcache and new IIIF server binary will be adapted.

So this test ran on IIIF server itself with 170k usgs testing data. Thumbnails of 300px width were requested.

`siege -c50 -i -d 3 -t15m -q -f usgs_test.txt`

Where:
- `-c50` is maximal concurrency of 50 "users"
- `

[2015-07-17 09:28] #22 closed, assigned to o1da

[2015-07-17 09:28] o1da commented on #33
For now the process of deploying changes to Amazon EC2 is manual and probably wouldn't change. iiif.embedr.eu runs behind Load Balancer and Auto Scaling and if any change occurs it have to be adopt on EC2 instance (better to do it and test it not on the production one). Next a new AMI have to be build from it and Load Balancer and Auto Scaling have to reconfigured to use a new AMI. And currently r

[2015-07-17 09:28] #33 closed, assigned to nobody

[2015-07-17 09:28] o1da commented on #23
The loadimpact.com looked like the most promising service, it has the most advanced configuration and can be run without subscription. But the default test with 100 concurrent users which are gradually added from 0 to 100, runs only for 5 minute. So autoscaling wouldn't have time to be triggered. More advanced tests are extremely expensive e.g. 250 users for 120 minutes would costs more than 160$

[2015-07-17 09:28] #23 closed, assigned to nobody

[2015-07-20 09:32] klokan commented on #43
After discussion the permanent storage for a batch is going to be implemented on the `Task` level - where each task will have batch_id - and request to a batch will select all tasks from CloudSearch.

Because of the CloudSearch limits a single Batch will have maximum 10.000 items and because of the upload limits the JSON must be less 100 MB (#39).

[2015-07-20 10:47] klokan opened #57 "ElasticCache to replace local memcached in iiif machines"
In this moment each IIIF machine has it's own memcached. This ensures that the cache is shared between multiple processes of the imageserver on that single machine.
If loadbalancer starts multiple IIIF machines - the cache between these is not shared right now.

If a shared cache is applied the service will speed up - and probably save some costs as well (smaller amount of IIIF machines started by

[2015-07-20 12:29] klokan opened #58 "Switch to production after final meeting"
On meeting on 27th we should discuss the switch to production - and do final tasks in the following days.

It is going to be probably:
- [x] Cleaning of the database (redis)
- [x] Cleaning of the S3 storage (clean bucket)
- [x] Cleaning of the CloudSearch domain

This means the whole system is going to be turned into production and new ingest of the data must happen.

We should also discuss the pr

[2015-07-23 08:25] o1da commented on #34
Done

[2015-07-23 08:25] #34 closed, assigned to nobody

[2015-07-23 09:59] klokan opened #59 "Local fulltext service"
To save the production costs and reduce dependency on Amazon we could install and maintain a custom fulltext engine on the embed machine - instead of using the CloudSearch API.

We have experience from other projects with SphinxSearch (very fast, made in C/C++), or we could possibly deploy ElasticSearch via docker or use a very simple SQLite FTS4.

To be discussed.

[2015-07-27 12:26] klokan commented on #34
Updated main diagram:
![europeana-embedding-service-diagram](https://cloud.githubusercontent.com/assets/59284/8906048/75e248ba-346b-11e5-9cf6-ab60c82413d9.jpg)

AWS structure:
![aws-diagram-embedr](https://cloud.githubusercontent.com/assets/59284/8906521/a7313742-346f-11e5-801c-e06c07cf03db.jpg)

Possible future AWS structure:
![aws-diagram-embedr-future](https://cloud.githubusercontent.com/assets

[2015-07-27 12:32] klokan commented on #59
Diagram (compare with older structure mentioned in comments #34):
![aws-diagram-embedr-future-fulltext](https://cloud.githubusercontent.com/assets/59284/8906132/5423a060-346c-11e5-8228-1f9e83b47bf5.jpg)

[2015-07-27 12:33] klokan commented on #57
Diagram (compare with older structure mentioned in comments #34):
![aws-diagram-embedr-future-cache](https://cloud.githubusercontent.com/assets/59284/8906149/7d81ada8-346c-11e5-9e20-41a940fd9b08.jpg)

[2015-07-27 12:34] klokan commented on #55
Diagram (compare with older structure mentioned in comments #34):
![aws-diagram-embedr-future-ingest](https://cloud.githubusercontent.com/assets/59284/8906154/888673e6-346c-11e5-93e6-1614a3993129.jpg)

[2015-07-28 10:42] o1da commented on #43
Batches and tasks are stored in local sqlite database. Batches aren't in redis at all, but tasks are in redis until they are finished and they are moved from redis to sqlite after finish and after request for batch status.
Cloud Search is used only for items now.

[2015-07-28 10:42] #43 closed, assigned to o1da

[2015-07-28 13:14] o1da commented on #43
Limit for JSON 100MB size remains, but it can have more then 10 000 items, because Cloud Search isn't used for storing batches now.

[2015-07-29 08:20] o1da commented on #58
Done

[2015-07-29 08:20] #58 closed, assigned to klokan

[2015-07-30 14:57] mzeinstra opened #60 "Keep docker registry up to date"
Is that the docker registry lacks behind the commits on Github. Can we update this, or is there a reason that these are out of sync?

https://registry.hub.docker.com/u/klokantech/embedhawk/

[2015-07-30 16:10] klokan commented on #60
To test project on a local computer use `docker-compose` - as described at https://github.com/klokantech/hawk (bellow in README.md).

The docker hub registry is in fact not in use - building of the container happens on your machine directly.

Anyway - I have updated the config - so the Docker Hub public registry is now building our code again as well.

Still - keep in mind we use Docker Microservi

[2015-07-30 16:10] #60 closed, assigned to nobody

[2015-07-30 16:17] klokan commented on #60
We could probably remove the machine from Docker Hub.

It would be nice to create a monolith container for use with Kitematic or plain Docker.
This would be only for people to start to play with the project directly on their computer - but it is not really practical for deployment on the Amazon infrastructure.

[2015-07-31 08:12] mzeinstra commented on #60
I agree, it would be better to remove the docker from the registry to not confuse users about how you can use the repository.

[2015-08-04 08:35] mzeinstra opened #61 "Ingestion gives 404"
Hi,

I was testing the ingestion API, while I am able to request my latest successful ingest (user/pass obfuscated):

[code]

but a ingestion call

[code]

gives a 404.

I did request a username/password change by mail today to reflect the production phase, so it might be that that causes this problem, however if the GET works I assume that the password was not changed.

[2015-08-04 08:56] o1da commented on #61
Password haven't been changed lately, and it is the same for GET and POST. Can you provide me with json file? I think that problem is in invalid json. 404 is returned if json reading fails entirely too (before any item processing). I'm going to add some text info to 404 response in this case.

[2015-08-04 09:02] mzeinstra commented on #61
Ah yes it was my JSON. I expect a 400 if my payload was not correct, a 404 for me looks like I post to the wrong page.

I now successfully posted my batch.

[2015-08-04 09:24] o1da commented on #61
Response codes are changed and some text info is provided too.

[2015-08-04 09:24] #61 closed, assigned to nobody

[2015-08-04 14:23] mzeinstra opened #62 "Ingest produces error without message"
I've been testing the limits of the ingestion API. I tried the largest image I could find online ~220mb: https://commons.wikimedia.org/wiki/File:The_Garden_of_Earthly_Delights_by_Bosch_High_Resolution.jpg

I've put that into a batch:

[code]

This produces an error after ~ 30 minutes:

[code]

According to the wiki I should get a message that details the error: https://github.com/klokantech/hawk/w

[2015-08-04 14:54] o1da commented on #62
This info on wiki seems to be inaccurate, I forgot to update it, this info is there from very start of project. We haven't discussed possibility to show exact error info on `/ingest` page. It isn't stored in database, it is available via `docker-compose logs` if needed.

It took approx. 30 minutes because one image is tried 5x (in default configuration) times before error is written. And there is

[2015-08-04 14:59] o1da commented on #62
Oh I see, your's link isn't a link to image it is a link to html page with thumbnail and some info. So html page was downloaded and it wasn't been correctly identified as image.
Correct link for huge image is https://upload.wikimedia.org/wikipedia/commons/6/6d/The_Garden_of_Earthly_Delights_by_Bosch_High_Resolution.jpg

[2015-08-04 15:20] mzeinstra commented on #62
Isn't that the link I provided?

[code]

[2015-08-04 15:23] o1da commented on #62
I'm sorry I was looking on different one, I'm going to try it.

[2015-08-04 15:40] mzeinstra commented on #62
Regardless, what are we going to do about the error message, if it is in the original plan I would like to have the API output them as described in the wiki.

I don't think I have access docker compose logs.

[2015-08-04 16:20] o1da commented on #62
These logs are available on media.embedr.eu server itself. This server can be accessed directly via ssh with AWS generated keypair and registered with EC2 instance. I can set different approaches for ssh but one with certificate is the most secure.

We should discuss better error message display with @klokan

I have just realized problem with huge image too. Conversion from jpg to tif (which is ne

[2015-08-05 15:41] mzeinstra opened #63 "Synchronized flush of cache for updated image IDs"
Hi,

I've uploaded 2 versions of the Night Watch to compare image qualities

[code]

It seems that the encoding of the first one when horribly wrong :)

![screen shot 2015-08-05 at 17 40 48](https://cloud.githubusercontent.com/assets/5627431/9090165/24ad1b70-3b99-11e5-9d91-276a941e60d4.png)

[2015-08-06 07:44] klokan opened #64 "Production passwords"
Switching password on the production system - and documenting in the Installation protocol.

[2015-08-06 09:24] o1da commented on #63
There is no problem with encoding itself. This problem is connected with using of one ID `Rijksmuseum_SK-C-5` with more than one image with different URLs. This ID is used in batch n.2 and n.4. The tiles of both different images with same ID remains in memcache on IIIF server. And they are mixed there, IIIF doesn't have any concept of triggered flushing of cache. I can only flush cache manually. I

[2015-08-06 09:29] mzeinstra commented on #63
Interessting, that is not how I read the Wiki:

'New records, and existing records that changed their "url", field will be added to a background queue that downloads source images and transcodes them to JPEG2000 format appropriate for serving via the IIIF Image service.'

I expected that when I give a different URI than that would replace the image. Not mix the two images.

@klokan do you consider

[2015-08-06 10:11] klokan commented on #63
What is described in the Wiki happens.
It may just take some time until the new image appears on the web to the user.

The background info:

There is a trade-off between the performance of the image service and possibility to update an image under one ID (URL). If you want fast and scalable service - then you cannot change images for existing identifiers too often because of caching.

Multiple cac

[2015-08-06 10:13] klokan commented on #62
This will be implemented (probably in the first half of next week).

It will run for newly ingested batches.
Probably only two error messages will be present:
- "Download failed"
- "Encoding into JPEG2000 failed"

[2015-08-06 14:16] klokan commented on #62
Aha. Looking back...

There is again complication because of the introduced sequences - each image in the sequence may have different error message...

This is the reason why we have removed this from the code. For sequences the message should be a list of all "error" messages?
I expect no message field in case of success.

@mzeinstra please comment if this really bring a value to the scripts whic

[2015-08-10 09:06] klokan commented on #62
@mzeinstra please comment.

[2015-08-10 10:24] mzeinstra commented on #62
On 1. It does bring value to the API to know why something failed. For example we did not know that encoding failed or downloading failed in the example above.

On 2. No I do not require a large EC2 instance to solve this issue of large images. I was pushing the limit of the service and I did expect to hit a ceiling somewhere. It is good to know that there is a ceiling. Once we come across these f

[2015-08-10 17:17] klokan commented on #63
To solve this properly - a new endpoint "/delete" to the running "iiif" servers would need to be added (a FastCGI inside of supervisord). Such endpoint would accept a file name (URL prefix) which should be flushed from all caches (local file cache and local memcached on the machine).

The task which do ingest update operation (change on the URL for known ID) would need to trigger the delete endpoi

[2015-08-11 08:08] mzeinstra commented on #63
Let's mark this as an enhancement.

[2015-08-12 18:24] o1da commented on #62
Message with more error info is added, a new ingested items will show it.

[2015-08-12 18:24] #62 closed, assigned to o1da

[2015-08-13 07:16] mzeinstra opened #65 "IIIF call gives corrupted image"
Just to check. Is this also an effect of #63?

![rijksmuseum_sk-c-5](https://cloud.githubusercontent.com/assets/5627431/9244501/02a8e884-419c-11e5-9f06-0369c0bbfb6a.jpg)

http://iiifhawk.klokantech.com/Rijksmuseum_SK-C-5/full/204,/0/native.jpg

[2015-08-13 07:23] o1da commented on #65
Yes, it is the same problem as described in #63
Image which have been used only for one url is OK:
http://iiifhawk.klokantech.com/Rijksmuseum_wiki_SK-C-5/full/204,/0/native.jpg

[2015-08-13 08:53] klokan commented on #65
@o1da - but this is a single tile. I am not that confident it has something to do with the cache in HAWK project.

This looks more like a bug in IIPImage itself.
- [x] @o1da Could you please provide a link to the related jp2 file?

If it can be reproduced on our computers we may file this as a bug of IIPImage.

[2015-08-13 08:59] klokan commented on #63
@o1da
- [x] Could you please make a manual brutal flush of the caches and describe in the Installation protocol how to make it step-by-step?

I expect it means deleting the file cache of s3fs and restarting memcached on every iiif virtual machine running behind the load-balancer.

It will hurt performance of the service temporarily, but it solves the problem, if it appears.

[2015-08-14 06:10] o1da commented on #64
A new credentials are here:

https://docs.google.com/document/d/1OK0WziJ2Z-_lAiBJcWxRazL5se27OQ7WUcqnpVRE7fg/edit#heading=h.mjh3e7d7thnv

[2015-08-14 06:10] #64 closed, assigned to o1da

[2015-08-15 13:34] o1da commented on #63
Cleaning of caches is done and described in the installation protocol.

[2015-08-15 13:44] o1da commented on #65
jp2 image can be downloaded from
https://s3.eu-central-1.amazonaws.com/storage.hawk.bucket/Rijksmuseum_SK-C-5.jp2

With local IIIF server I didn't have any problem with this image and this problem disappeared on iiif.embedr.eu immediately after all caches were cleaned (browser too)  #63

[2015-08-15 13:44] #65 closed, assigned to o1da

[2015-08-19 08:48] mzeinstra opened #66 "Why is the IIIF image API limited to 1000x1000 pixels?"
I build a small script for another project that takes random crops of our largest image (http://media.embedr.eu/Rijksmuseum_SK-C-5) of 900x1600 (widescreen in portret mode).

example urls:

[code]

all of them seemed stretched while the ratio between the selection and the size is the same (0.5625). The actual file being delivered by the API is not 900x1600 as requested but 900x1000 pixels.

If I m

[2015-08-19 09:50] klokan commented on #66
The maximal request size limit is an option in the configuration of the
IIIFserver - described in the installation protocol.

We can make the limit higher - maybe 2000 pixels?

I would not recommend unlimited request size. On larger files the
tiled viewer approach should be used...

To create a single 3000x3000 pixel image the single process is blocked for
some time and at least 27 MByte of RAM is

[2015-08-19 12:44] mzeinstra commented on #66
I see you concern and I believe we need to test this in the real world.

For now we need 2560x 2560 images to be possible. We will artificially limit the size in a our user interface. If a power user directly speaks to the IIIF API we will notice in our server load.

I would consider it to be a bug that the service simply replaces the size to 1000 when it went over that limit. If the system has a

[2015-08-27 08:38] klokan commented on #66
I have warned you, this may cause degradation of performance of the service if used heavily by third-parties. Large images should be displayed via tiles - not as a single request.
We will do what you want.

Tasks for us:
- [x] Set limit on 2560 pixels.
- [x] Rebuild the AMI for iiif service
- [x] Update the elastic load-balancer
- [x] Update installation protocol appropriately

Related time to be

[2015-08-29 14:03] o1da commented on #66
Done and tested.
Check http://iiif.embedr.eu/Rijksmuseum_wiki_SK-C-5/full/full/0/native.jpg it has 2560px width

[2015-09-22 11:15] mzeinstra opened #69 "How long does it take for material to be ingested into Cloud Search"
I've been ingesting material in to Embedr in the last few days and I can't find them in our search.

for example I should be able to find http://embedr.eu/europeana___2021657__216359/ using either 'museon' or 'familieportet' both give no responses.

I want to make sure that that process did not fail somewhere in the last few days. How does it usually take for ingested items to be present in Cloud

[2015-09-22 11:59] o1da commented on #69
The ingestion of one item is correctly done only if it is converted to JP2, added to local DB, uploaded to S3 and added to CloudSearch. If there is an whatever error in these steps, the whole item is purged from all systems. So you can't be able to see the item on embedr.eu and don't see it on CloudSearch, if so - it would be a bug.

The item with ID "europeana___2021657__216359" is correctly inge

[2015-09-22 12:02] mzeinstra commented on #69
You are right, I was being misled by the system as it does reply to some but not all queries. Thanks for confirming this side is running as expected.

[2015-09-22 12:02] #69 closed, assigned to o1da

[2015-10-08 12:24] mzeinstra opened #72 "media.embedr.eu needs to be able to communicate over https"
We need a certificate for media.embedr.eu as websites that load over https don't allow http iFrame that load content of media.embedr.eu.

Preferably we have a wildcard SSL certificate for the entire domain embedr.eu

@klokan what are our options?

[2015-10-09 11:55] klokan commented on #72
With the standard process you may need to purchase multiple certificates or a single wildcard SSL certificate which must be configured for all different services: iiif.embedr.eu, media.embedr.eu and embedr.eu dev.embedr.eu. Then all the servers would require reconfiguration.

Alternative would be to use a CDN which supports SSL (https) directly - and put it in front of our http servers. Amazon Clo

[2015-10-28 08:43] klokan commented on #66
@mzeinstra:

I have check the cropping functionality on http://dev.embedr.eu/...
Are you completely crazy to keep for crop size request for embedding the original pixel size?
You really want to make img src requests with image width 12000 pixels for example?

My comments (and your reactions about "only for power users") on this thread was ignored while implementing the user interface crop function

[2015-10-28 09:26] mzeinstra commented on #66
@klokan

I don't understand your argument.

Are you talking about that the original size is presented here as numbers?
![screen shot 2015-10-28 at 10 01 59](https://cloud.githubusercontent.com/assets/5627431/10783867/09eceeb0-7d5b-11e5-86f7-e4241822731c.png)

That is a bug indeed, and it should be 2560x2560 or 1024 as width.

However we never request the original pixel size. the resulting image is

[2015-10-28 13:53] klokan commented on #66
I would suggest max 1000 px here.

YOU DO REQUEST THE ORIGINAL PIXEL SIZE! But luckily the server returns only the max width - increased in this ticket from 1000px to 2560px on your request, where you promised:

Copy & paste of automatically generated HTML code is not a power user...

In the user interface for lame users are now constructed IIIF requests to retrieve an image of size 13823,11336 pi

[2015-10-28 14:00] mzeinstra commented on #66
@klokan Ah I see, now I understand your initial message. This indeed a bug and I'll take appropriate steps.

As for the IIIF service, that seems like a good error. Is it part of the way IIIF protocol is set up?

[2015-11-04 14:07] mzeinstra opened #74 "Possibility to have @tomkr access to media.embedr.eu server?"
@tomkr is hindered by creating blind PR request when making adjustments to the viewer display pages. Is there a way he can run his changes on the media.embedr.eu server?

[2015-11-04 14:33] tomkr commented on #74
I don't need access to the server, just a way to locally run the app (and testsuite) on my machine.

[2015-11-05 13:38] o1da commented on #74
Info about access to servers is in the Installation protocol.

https://docs.google.com/document/d/1OK0WziJ2Z-_lAiBJcWxRazL5se27OQ7WUcqnpVRE7fg/edit#heading=h.mjh3e7d7thnv

But I would definitely suggest to run project via docker-compose localy (configuration similar to https://github.com/klokantech/hawk/blob/master/docker-compose-local.yml ) from source. With similar configuration it doesn't push

[2015-11-08 17:03] mzeinstra opened #75 "All process running?"
I've done a large ingestion on thursday as you can see in AWS CloudWatch:

![screen shot 2015-11-08 at 18 01 14](https://cloud.githubusercontent.com/assets/5627431/11021490/c8daf67e-8642-11e5-9101-70f6ab896ee7.png)

My records say that I've uploaded metadata for about 360k records. As is only 50k records have been ingested into cloudsearch (searchable documents) and the processing has been reasona

[2015-11-08 19:01] o1da commented on #75
All processes have been running but the ingestion didn't do anything - it was waiting for redis. Redis server didn't manage high load. After redis client (ingest processes) buffer overflows redis server stopped to communicate with them. There were an error messages in the log:

[code]

It had problems with rewriting of persistence AOF file too - it is about 1GB big now. With too much data it can b

[2015-11-09 08:18] mzeinstra commented on #75
Thanks for the insight. I was mistakenly believing that the batches were just stored until they could be processed. I'll not upload more batches in this manner.

However, it seems redis crashed again after about 5 hours.

[2015-11-09 08:35] o1da commented on #75
Yes redis was overwhelmed again, I had to restart it half an hour ago. I'm afraid that we will have problems until most of batches will be done, because there are simply too much waiting ingestion requests in the redis - celery constantly checks them and it makes much more traffic to the redis that redis can operate especially for longer time.

I'm going to constantly check it today, maybe I could

[2015-11-09 09:11] mzeinstra commented on #75
I'm sorry about this.

We could also remove the bulk of the still in progress batches. I still have them and can upload them separately.

[2015-11-09 11:12] klokan commented on #75
@o1da please start a separate machine to do only the `ingest` tasks - this was confirmed by @mzeinstra. It will run permanently, until we stop it manually again on @mzeinstra request.

To summarise the problem here:
- There is a single low-end machine with 4 GB RAM doing almost everything (database, media web serving, task management, API endpoint, as well as _the ingest tasks processing_ - so dow

[2015-11-09 13:10] o1da commented on #75
I have just started ingest slave with one c4.xlarge instance and have stopped ingestion on the media.embedr.eu server. So ingest slave has almost 100% CPU utilization all time and media.embedr.eu does almost nothing.

It is OK now, I will check it lately and close this ticket.

[2015-11-10 14:20] o1da commented on #75
We have approx 215k of ingested images now, it works smoothly. But I had to solve another issue with c4.xlarge instance. This instance has much more powerful CPU than instances used in #38, so problem with speed of disk I/O appeared. Disk on ingest instance is used as temporary storage for downloaded original images and for already being processed ones.

![graph](https://cloud.githubusercontent.co

[2015-11-10 14:20] #75 closed, assigned to nobody

[2015-11-11 10:36] mzeinstra commented on #75
It has been quiet in the past two hours. Is there a problem with the ingestion?

![screen shot 2015-11-11 at 11 35 15](https://cloud.githubusercontent.com/assets/5627431/11089201/5465b6a8-8868-11e5-836f-b8eff3dac711.png)

above, number of searchable documents in cloud search
below CPU and DataIn of the ingestion server.

[2015-11-11 12:31] o1da commented on #75
From redis log:
`1:M 11 Nov 09:42:15.101 # Client id=123 addr=172.31.25.153:35701 fd=13 name= age=152881 idle=1 flags=N db=0 sub=0 psub=1 multi=-1 qbuf=0 qbuf-free=0 obl=0 oll=520 omem=13001122 events=rw cmd=psubscribe scheduled to be closed ASAP for overcoming of output buffer limits.`

I restarted redis with smaller client buffers yesterday - I thought it wouldn't be needed if we move ingestion

[2015-11-11 14:23] mzeinstra commented on #75
![screen shot 2015-11-11 at 15 20 09](https://cloud.githubusercontent.com/assets/5627431/11092988/bbfe135e-8887-11e5-8902-44f05cc1a309.png)

I wanted to know how many records are remaining/and how many records produced other errors, so I have script that keeps track of the batch numbers that are not 100% done. It requests a batch. counts the results and continues to the next batch. This has become

[2015-11-11 14:33] klokan commented on #75
On other production projects we use Amazon SQS for the task management queue.

It would be relatively easy to move the processing to Amazon SQS Queue. This way we get graphs of remaining tasks directly in CloudWatch (seeing what is the status of encoding, how many tasks are still remaining, etc), without a need to run query scripts to API (which would be still possible as well).
What is even more

[2015-11-11 14:44] mzeinstra commented on #75
Why did we choose Redis over your proposed scalable solution? is SQS queue new?

[2015-11-11 15:35] klokan commented on #75
In requirements was strict preference on using open-source projects over online services - to be independent of Amazon - and to be able to move to a different cloud infrastructure later on.

But it seems that Embedr will continue to run on Amazon - and there is already dependency on fulltext and on cluster auto-scaling capabilities anyway... switch to SQS would make sense in the current setup, esp

[2015-11-11 16:22] mzeinstra opened #76 "We need changes to oEmbed implementation (create new tests)"
we need the following changes
- [ ] type needs to be 'rich' instead of photo

type rich implies the following minimum structure:
- html (required) – The HTML required to display the resource. The HTML
  should have no padding or margins. Consumers may wish to load the HTML
  in an off-domain iframe to avoid XSS vulnerabilities. The markup should
  be valid XHTML 1.0 Basic.
- width (required) – The

[2015-11-12 06:51] o1da commented on #75
Redis was OK - everything was working. But I have found a bug in the response with batch state - it was very slow in some conditions - I'm going to fix it today - please don't update batches, I will inform you.

[2015-11-12 15:16] o1da commented on #75
It is fixed via sqlite optimization - sql queries for batch state were too slow.

Please keep in mind that the first query would take tens of seconds even a few minutes if you have tens  of thousands of items in it. Another query for the same batch ID is fast. It happens because during the first query info about completed ingestion tasks is moved from redis to sqlite.

[2015-11-12 15:22] mzeinstra commented on #75
Are you saying that ingestion has finished and that I should expect around 40k download errors, as I don't see any activity on the ingestion server:

![screen shot 2015-11-12 at 16 17 10](https://cloud.githubusercontent.com/assets/5627431/11122038/8241c3c2-8959-11e5-9ff1-e617766ddd34.png)

[2015-11-12 15:38] mzeinstra commented on #75
Just ran the scripts, yes the remaining 44k have errors:
- 653 'another error'
- 3190 'download failed'
- 40.859 'Interaction with Cloud Search failed'

involving batch IDs: [22, 32, 34, 35, 37, 38, 41, 43, 45, 46, 48, 49, 50, 52, 55, 57, 58, 59, 61, 62, 65, 66, 67, 68, 69, 70]

What does 'another error mean' and can we do something with the 'Interaction with Cloud Search failed' - error?

[2015-11-12 16:09] o1da commented on #75
'Another error' can be whatever error except 'download failed' and 'Interaction with Cloud Search failed'
Only way to explore it further is to read logs on the server.

If I look at 'Interaction with Cloud Search failed' and search logs I can usually get this info:

[code]

It means that we are sending requests to the CloudSearch above its limits in some time period. It can occur in case of fast i

[2015-11-12 16:13] mzeinstra commented on #75
So are these batches still pending ingestion or have they failed permanently?

Is now the time to add some new batches and to add a batch that removes a collection that we found to be not useful for the service or should I wait for this to finish?

[2015-11-12 16:21] o1da commented on #75
Yes they are finished, you can send new batches and probably create batch or two with failed items and try to ingest them again. Especially for items with 'Interaction with Cloud Search failed' because they were correctly processed only except send to Cloud Search.

Should I increase the number of attempts before new ingestion?

[2015-11-12 16:23] mzeinstra commented on #75
Let's keep it like this for now, Let's see if this problem has been solved by other fixes during the past week.

To make sure I do this right If I send all the batches with these problems in again, will that re-ingest images from the ones who were succesful or only replace it's metadata?

[2015-11-12 16:42] o1da commented on #75
If the item is already in DB the image is processed only if URL is changed, so it should only replace the metadata.

But if you send everything again I'm pretty sure that we will receive errors with Cloud Search again because metadata are rewrited there too and without image ingestion it would process items really fast and exhaust Cloud Search limits even faster. And it would have another nasty co

[2015-11-12 17:08] klokan commented on #75
We have discussed this now - and we are going to improve this process. Ingest of items with exactly the same metadata and url already in Redis should not trigger Cloud Search updates...

@mzeinstra - please wait until @o1da confirms this has been fixed - and then you should be able to resubmit the same batches again. Items already ingested will be skipped - and only the previously failed items wil

[2015-11-12 19:17] o1da commented on #75
It is done @mzeinstra can send batches again.

[2015-11-17 09:57] mzeinstra commented on #75
Thanks, I'll reupload these batches.

[2015-11-17 15:30] klokan commented on #76
It is not clear what is the action here for @klokantech - shall we implement this from maintenance 2016?

The link to provided code is one line only. Will you provide a Pull Request with all the changes for review and merge?

[2015-11-18 12:20] mzeinstra opened #77 "ingestion error duplicate code should refer to the 'id' in the item (enhancement)"
I get ingestion errors back that have the format:

[code]

41140 is the index number of the item, but that is not the information that is required. It is better to have the actual duplicate ID.

[2015-11-18 12:44] mzeinstra commented on #75
@o1da I did not re-upload the batches as that would be 250mb of data to process. 210MB of that would be data that did not need to be re-uploaded. Instead I did create a single file (batch number 74) that contains the remaining items that had errors.

However, I do not see any ingestion process activity on the ingestion slave. Is it down?

[2015-11-18 13:05] mzeinstra opened #78 "Removed items need better error code (enhancement)"
at the moment removed items show up as:

[code]

( http://embedr.eu/europeana___2032007__SE_KAPY_HLA_HA9950/ ).

We need to have a more accurate code or load an image that conveys a proper message.

Relates to 404s: https://github.com/tomkr/embedr/issues/75

[2015-11-18 15:20] o1da commented on #78
It was a bug associated with last ingestion changes and it is solved now.

[2015-11-18 15:20] #78 closed, assigned to nobody

[2015-11-19 17:08] o1da commented on #75
I have just checked ingestion process and your last batches are done. It seems that most of items were added - I can't see any 'Interaction with Cloud Search failed' error.

Can you run your script to identify count of all specific error?

If there would appear errors connected with download or upload you should try send batches 73 and 74 again.

According to the last changes you can send these ba

[2015-11-19 17:20] mzeinstra commented on #75
Looks good, still some errors. I am unsure where the error resides on our side or on the providers side?

494 'another error'
3108 'download failed'
2 'Image processing failed'
2323 'Interaction with S3 failed'

Do you see something that we need to fix?

[2015-11-19 17:39] o1da commented on #75
'Download failed' is usually triggered by urllib2 timeout, so it seems that this problem is on the image provider site or on the network. 'Interaction with S3 failed' seems to be connected with network too.

Can you resend these batches? I would analyze log outputs more deeply.

[2015-11-19 17:42] mzeinstra commented on #75
Just send it in (batch number 76), it seems to process nicely up until now:
8101 ok, 33018 pending 0 errors

but most of those pending are already in the system

[2015-11-19 18:17] o1da commented on #75
Check item europeana___2021657__161703, there is some problem on the image provider server.
http://cc.museon.nl/imageproxy.aspx?server=localhost&port=17512&filename=images/geschiedenis%5C/161703.jpg

Our log:

[code]

Or check another error:

[code]

Another:

[code]

These errors aren't on the side of ingestion process. It should be consulted with http://www.bildarchivaustria.at and http://cc.mus

[2015-11-20 15:39] klokan commented on #75
Idea of future improvement: The complete logs could be added to CloudWatch Logs - so we get fulltext search within last 3 days and perfect overview of what is happening on the cloud without logging in with SSH. This means @mzeinstra could look himself via AWS console - and there may be alerts and metrics derived from the logs (duration of download / encoding / ingest, error alerts, etc). We do tha

[2015-11-23 14:40] mzeinstra commented on #78
This is strange, I removed the items (and not by mistake).

Did you revert that? :)

[2015-11-23 14:53] mzeinstra commented on #75
@klokan good idea. I'll make a new improvement ticket out of it.

@o1da I understand that some sources do not have proper documents behind them. Frankly I am surprised so many worked in the first placed. When we have an error 'Failed to Download' I understand that this is something I need to pick up. I am wondering if our infrastructure still has a problem with the 'Interaction with S3 failed' err

[2015-11-23 14:56] mzeinstra opened #79 "We can spin down the additional ingestion server for now (after batch 77)"
I don't expect to run any more ingestion batches this year after batch 77 is done (0 ok, 5798 pending 0 errors).

We can spin down this machine after that is done.

[2015-11-23 15:05] mzeinstra opened #80 "complete logs could be added to CloudWatch Logs (improvement)"
from @klokan:

The complete logs could be added to CloudWatch Logs - so we get fulltext search within last 3 days and perfect overview of what is happening on the cloud without logging in with SSH. This means @mzeinstra could look himself via AWS console - and there may be alerts and metrics derived from the logs (duration of download / encoding / ingest, error alerts, etc). We do that on the rece

[2015-11-24 16:16] mzeinstra commented on #79
Batch 77 is done, we can remove the dedicated ingestion server for now.

[2015-11-25 14:55] o1da commented on #79
Server is stopped - it can be restored at any time, but now it doesn't cost anything.

[2015-11-25 14:55] #79 closed, assigned to o1da

[2015-11-25 15:05] o1da commented on #78
Yes, all items with `The item is being ingested` info were reverted. I had to solve wrong state of some items after bug repair and reingestion seemed to be the most safe approach. I didn't take into account that these items were going to be deleted.
Sorry, please delete them again :)

[2015-11-25 15:24] o1da commented on #75
I have just looked at problems with `Interaction with S3 failed`. I have checked a few items with this info and all of them are JPG images. They can be successfully converted to TIF, but conversion to JPG2000 is failing. But it is failing without error status code it only prints this info:

[code]

And continues to S3 upload which fails with error code (and this is the one which is saved), because

[2015-11-25 15:38] o1da opened #81 "Specific error with kdu_compress can leads to Interaction with S3 failed error"
Check image with URL https://www.rijksmuseum.nl/assetimage2.jsp?id=BK-1980-773-B
It is JPG file, it can be converted to TIF, but conversion to JPEG2000 is failing, but without error status code from `kdu_compress`, so ingestion process continues to S3 upload. S3 upload fails with error code (and this is the one which is saved), because file with 0B size can't be uploaded.

This info is printed:

[

[2015-11-26 13:00] MartinMikita commented on #81
`kdu_compress` returns -1 as error code (255), so maybe just improve checking in python.

Kakadu 7.7. is failing too.
I tried converting this JPEG into TIFF with `gdal_translate`, but it ends with same error.
`kdu_compress` without any arguments doesn't succeed.

I do not know, what to do with this error. I don't found anything special on [kakadu forum](https://groups.yahoo.com/neo/groups/kakadu_j

[2015-11-26 21:23] tomkr commented on #74
I have to admit I'm not a docker expert, but I've tried to start with docker-compose-local.yml. I run into an error pretty quickly. It's probably something simple, but perhaps you could give me a hand.

To get started I run:
`docker-compose -f docker-compose-local.yml up`

The error I get is:
`ingest_1 | [2015-11-26 21:20:07,019: ERROR/MainProcess] consumer: Cannot connect to redis://redis:6379//:

[2015-11-30 09:22] mzeinstra commented on #74
@tomkr does this block your v1 pull request to @klokan?

[2015-12-01 18:28] klokan commented on #81
If we detect this error we have to strip from the TIFF headers the ICC color profile or ignore it - this should be possible to do.

This is enhancement of the existing ingest process.

[2015-12-02 08:18] klokan opened #84 "Files in search missing image"
I have seen some result of search which does not serve some images, I have seen some with "Handelsregistret" in title. See:

http://dev.embedr.eu/results/?query=Handelsregistret

For example:
http://iiif.embedr.eu/europeana___2032007__SE_KAPY_HLA_HA26278/full/204,204/0/native.jpg

We need to examine why this happened, and possibly remove these from database...

[2015-12-02 09:22] mzeinstra commented on #84
I believe this is due to #78 I have yet to send the new batch to remove this.

[2015-12-02 17:37] o1da commented on #74
We have updated readme and configuration for local development, so using it would be more clear and easier now. @tomkr Please try it.

https://github.com/klokantech/embedr/blob/master/README.md

[2015-12-03 16:52] mzeinstra commented on #72
I've purchased a wildcard certificate. How should I get this certificate to you?

[2015-12-03 16:54] klokan commented on #72
Private sharing - such as private Google Drive?

Also - please be aware that we are running out of credit on maintenance for 2016 soon. Timesheets for work done until now are available...

[2015-12-07 10:54] mzeinstra commented on #72
@klokan did you receive the document?

Also I am interested in those timesheets

[2015-12-07 11:41] klokan commented on #72
SSL certificate received.

To be deployed on iiif.embedr.eu and media.embedr.eu domains latest tomorrow by 11:00.

[2015-12-07 14:55] o1da commented on #72
@mzeinstra Do we have all need files, especially private.key?
`-_embedr_eu.crt` file alone isn't enough to configure SSL.

Look at https://gist.github.com/bradmontgomery/6487319

Do you have mentioned .zip file and key file?
I have to leave now I will finish it tomorrow at approx 10:00

[2015-12-07 15:51] mzeinstra commented on #72
@o1da lets postpone this then. I will launch the service at 10:00 tomorrow during a conference.

[2015-12-08 09:32] o1da commented on #72
Ok, I will wait for all files.

[2016-01-25 17:25] klokan commented on #72
Related (for load balancer): http://aws.amazon.com/certificate-manager/

[2016-08-31 12:29] klokan opened #85 "Maintenance tasks 2016"
We shall from the maintenance:
- Shut down the Ingestion worker (ingestion may fail now) to reduce ongoing cost of the platform
- Upgrade to the latest IIIFServer with relevant activation key (it has now expired JPEG2000 license)
- Deactivate autoscaling (only one machine in the group is OK)
- Upgrade and deploy the new AMI template

[2016-08-31 14:12] klokan commented on #85
@o1da Any action is postponed to the definitive decision deadline on Friday 2016-09-09 at 10am.

[2016-09-09 15:15] klokan commented on #85
The decision has been made. The system must shut down as there is no budget for the ongoing costs of the production run of this service.

@o1da please deactivate all the services on Amazon on Monday and close this ticket.

[2016-09-12 11:31] o1da commented on #85
Everything is down. Should I also delete all snapshots and AMIs (it costs a few cents if it wouldn't be deleted)? And what about S3 bucket?

[2021-12-13 09:33] #66 closed, assigned to nobody

[2021-12-13 09:34] #72 closed, assigned to nobody

[2021-12-13 09:34] #74 closed, assigned to nobody